<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>我的收藏</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<link href="{% static 'css/bottom.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/head.css' %}" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>
<link href="../../../static/css/index.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/myInfo.css" rel="stylesheet" type="text/css" />

  
<style>
body {
    background-color: #F2F2F2;
    font-size: 12px;
    font-family: "微软雅黑";
	color: #010101;
	height:auto;
}
</style>

</head>
<body>
	<div>
	
		<iframe marginwidth="0" marginheight="0" src="../../base/base1.html" width="100%" height="250px"></iframe>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 myInfo">
				<div class="myInfo_left col-xs-2">
					<div class="myInfo_left_title text-center col-xs-12">
						<img src="../../../static/img/images/my/mycenter.png">
						<spqn>个人中心</spqn>
					</div>
					
					<div class="myInfo_left_nav col-xs-12 text-center">
						<li class="myInfo_left_nav1 col-xs-12"><a href="myInfo.html">我的信息</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="myResume.html">个人简历</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="myRecord.html">应聘记录</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="interview.html">面试通知</a></li>
						<li class="myInfo_left_nav1 active col-xs-12"><a href="myCollection.html">我的收藏</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="myQuestions.html">我要提问</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="questionsList.html">提问列表</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="answerList.html">回答列表</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="friendsList.html">好友列表</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="pushArticles.html">发布文章</a></li>		
						<li class="myInfo_left_nav1 col-xs-12"><a href="notice.html">站内通知</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="securityCenter.html">安全中心</a></li>
					</div>
				
				</div>
				<div class="myInfo_right col-xs-10">
					<div class="col-xs-12 Position">
						<div class="col-xs-2 col-md-2 text-center"><a href="">职位收藏</a></div>
						<div class="col-xs-2 col-md-2 text-center"><a href="">企业收藏</a></div>
					</div>
					<div class="col-xs-12 kong"></div>
					<div class="col-xs-12 myInfo_list1">
						<div class="col-xs-1 myInfo_list1_btn">						
								<input type="checkbox" class="myInfo_list1_input"> 			
						</div>
						<div class="myInfo_list1_det col-xs-11">
							<div class="myInfo_det1 col-xs-12">
								<div class="myInfo_det1_title col-xs-5">多工位螺旋冷镦师傅
									<img class="goutong" src="../../../static/img/images/public/goutong.png">
								</div>
								<div class="myInfo_det1_title col-xs-7 text-right">
									<span class="myInfo_det1_span">国企</span>
									<span class="myInfo_det1_span">|</span>
									<span class="myInfo_det1_span">50-100</span>
									<span class="myInfo_det1_span2">广州银蜘蛛五金有限公司</span>
								</div>
								<div class="myInfo_det1_title2 col-xs-12">
									<span class="col-xs-2 myInfo_det1_salary">6-8k</span>
									<span class="col-xs-2">本科</span>
									<span class="col-xs-2">广州</span>
									<span class="col-xs-2">一年</span>
								</div>
								
								<div class="myInfo_det1_title3 col-xs-12">
									<div class="col-xs-9 col-md-7">
										<span class="col-xs-2">五险一金</span>
										<span class="col-xs-2">绩效奖金</span>
										<span class="col-xs-2">定期体检</span>
										<span class="col-xs-2">加班补助</span>
										<span class="col-xs-2">周末双休</span>
										<span class="col-xs-2">五险一金</span>
									</div>
									
									<div class="myInfo_det1_img col-xs-3  col-md-5 text-right">
										<img src="../../../static/img/images/public/sq.png">
										<img src="../../../static/img/images/public/shanchu.png">
									</div>
									
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 myInfo_list1">
						<div class="col-xs-1 myInfo_list1_btn">						
								<input type="checkbox" class="myInfo_list1_input"> 			
						</div>
						<div class="myInfo_list1_det col-xs-11">
							<div class="myInfo_det1 col-xs-12">
								<div class="myInfo_det1_title col-xs-5">多工位螺旋冷镦师傅
									<img class="goutong" src="../../../static/img/images/public/goutong.png">
								</div>
								<div class="myInfo_det1_title col-xs-7 text-right">
									<span class="myInfo_det1_span">国企</span>
									<span class="myInfo_det1_span">|</span>
									<span class="myInfo_det1_span">50-100</span>
									<span class="myInfo_det1_span2">广州银蜘蛛五金有限公司</span>
								</div>
								<div class="myInfo_det1_title2 col-xs-12">
									<span class="col-xs-2 myInfo_det1_salary">6-8k</span>
									<span class="col-xs-2">本科</span>
									<span class="col-xs-2">广州</span>
									<span class="col-xs-2">一年</span>
								</div>
								
								<div class="myInfo_det1_title3 col-xs-12">
									<div class="col-xs-9 col-md-7">
										<span class="col-xs-2">五险一金</span>
										<span class="col-xs-2">绩效奖金</span>
										<span class="col-xs-2">定期体检</span>
										<span class="col-xs-2">加班补助</span>
										<span class="col-xs-2">周末双休</span>
										<span class="col-xs-2">五险一金</span>
									</div>
									
									<div class="myInfo_det1_img col-xs-3  col-md-5 text-right">
										<img src="../../../static/img/images/public/sq.png">
										<img src="../../../static/img/images/public/shanchu.png">
									</div>
									
								</div>
							</div>
						</div>
					</div>
						
					<div class="myCollection_form_btn col-xs-12 ">
						<div class="col-xs-12">
							<label class="checkbox-inline col-xs-6 col-md-6">
								<input type="checkbox"  value="option1">全选
							</label>
							<div class="myCollection_btn_img col-xs-6 col-md-6 text-right">
								<img class="myCollection_btn_img1" src="../../../static/img/images/public/qbshengq.png">
								<img class="myCollection_btn_img2" src="../../../static/img/images/public/shanchu.png">
								
							</div>
						</div>
					</div>
						
					
					
					
				</div>
			</div>
		</div>
	</div>		
<div>
	
		<iframe marginwidth="0" marginheight="0" src="../../base/bottom.html" width="100%" height="500px"></iframe>
	</div>
</body>
</html>



