<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>我的信息</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<link href="{% static 'css/bottom.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/head.css' %}" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>
<link href="../../../static/css/index.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/myInfo.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/companyCenter/companyInfo.css" rel="stylesheet" type="text/css" />

  
<style>
body {
    background-color: #F2F2F2;
    font-size: 12px;
    font-family: "微软雅黑";
	color: #010101;
	height:auto;
}
</style>

</head>
<body>
	<div>
	
		<iframe marginwidth="0" marginheight="0" src="../../base/base1.html" width="100%" height="250px"></iframe>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 companyInfo">
				<div class="myInfo_left col-xs-2">
					<div class="myInfo_left_title text-center col-xs-12">
							<img src="../../../static/img/images/company/企业.png">
						<spqn>企业中心</spqn>
					</div>
					
					<div class="company_left_nav col-xs-12 text-center">
						<li class="myInfo_left_nav1 active col-xs-12"><a href="companyInfo.html">我的信息</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="essentialInfo.html">基本信息</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="com_introduce.html">企业介绍</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="com_manage_account.html">子账号管理</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="/user_collection/">管理VIP网站</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="mySample.html">我的样品</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="com_yellowpage.html">黄页管理</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="com_offerInfo.html">供货信息</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="purchaseInfo.html">采购信息</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="cooperationInfo.html">合作信息</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="com_Collection.html">商家收藏</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="com_recruit.html">招聘管理</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="com_myMomment.html">我的评论</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="com_stationNotice.html">站内通知</a></li>
						<li class="myInfo_left_nav1 col-xs-12"><a href="securityCenter.html">安全中心</a></li>
					</div>
				
				</div>
				<div class="recommend_right col-xs-10">
					<div class="companyInfo_top col-xs-12">
						<div class="company_right_myimg text-left col-xs-3 col-md-2">
							<img src="../../../static/img/images/company/1.png">
						</div>
						<div class="companyInfo_name col-xs-9 col-md-10">
							<span  class="companyInfo_name1">企业名称：广州金蜘蛛轴承有限公司</span>
							<span class="company_pop">人气值：16名</span>
							<div class="company_position">
								<span class="myInfo_position_det col-xs-12">会员类别：供货厂商高级会员（会员于2022/05/01到期）</span>
								<span class="myInfo_position_det col-xs-12">主营产品：滚子轴承</span>
							</div>
						</div>
						
						<div class="company_del col-xs-12">
							<span class="company_del1 col-xs-3">企业类型：国营企业</span>
							<span class="company_del1 col-xs-3">企业性质：国营企业</span>
							<span class="company_del1 col-xs-3">企业规模：国营企业</span>
							<span class="company_del1 col-xs-3">厂房面职：国营企业</span>
							<span class="company_del1 col-xs-3">所在地区：国营企业</span>
							<span class="company_del1 col-xs-3">供货类型：国营企业</span>
						</div>
						<div class="company_infodel col-xs-12 text-center">
							<div class="company_infodel1 col-xs-1-5">供货信息留言</div>
							<div class="company_infodel1 col-xs-1-5">采购信息留言</div>
							<div class="company_infodel1 col-xs-1-5">面试邀请</div>
							<div class="company_infodel1 col-xs-1-5">职位申请</div>
							<div class="company_infodel1 col-xs-1-5">站内通知</div>
						</div>
						<div class="company_infodel col-xs-12 text-center">
							<div class="company_infodel2 col-xs-1-5">1</div>
							<div class="company_infodel2 col-xs-1-5">2</div>
							<div class="company_infodel2 col-xs-1-5">3</div>
							<div class="company_infodel2 col-xs-1-5">4</div>
							<div class="company_infodel2 col-xs-1-5">5</div>
						</div>
					</div>
					
					<div class=" col-xs-12 kong"></div>
					<div class="companyInfo_top2 col-xs-12">
						<div class="company_infodate col-xs-12 text-center">
							<div class="company_infodate1 col-xs-3">今日已发布供货信息</div>
							<div class="company_infodate1 col-xs-3">今日已发布采购信息</div>
							<div class="company_infodate1 col-xs-3">今日已发布合作信息</div>
							<div class="company_infodate1 col-xs-3">今日已发布职位信息</div>
							
						</div>
						<div class="company_infodate col-xs-12 text-center">
							<div class="company_infodate2 col-xs-3">1条</div>
							<div class="company_infodate2 col-xs-3">1条</div>
							<div class="company_infodate2 col-xs-3">31条</div>
							<div class="company_infodate2 col-xs-3">41条</div>
							
						</div>
					</div>
					
					
					<div class="col-xs-12 kong"></div>
					<div class="myResume_work">
						<div class="work_title col-xs-12"><span>我的广告</span></div>
						<div class="company_ad col-xs-12">
							<div class="company_ad_img col-xs-3 col-md-2"><img src="../../../static/img/images/company/guanggao.jpg">
							</div>
							<div class="company_ad_txt col-xs-9  col-md-10">
								<div class="company_ad_title col-xs-12 text-left">
									广告类型：中文板顶部横幅广告
								</div>
								<div class="company_ad_del col-xs-12 text-left">
广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告
								</div>
								<div class="company_ad_time col-xs-12 text-left">
									<span class="company_ad_time1">开始时间：2020/07/08</span>		
									<span class="company_ad_time1">结束时间：2020/09/11</span>		
								</div>
							</div>
						</div>
						
						<div class="company_ad col-xs-12">
							<div class="company_ad_img col-xs-3 col-md-2"><img src="../../../static/img/images/company/guanggao.jpg">
							</div>
							<div class="company_ad_txt col-xs-9  col-md-10">
								<div class="company_ad_title col-xs-12 text-left">
									广告类型：中文板顶部横幅广告
								</div>
								<div class="company_ad_del col-xs-12 text-left">
广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告
								</div>
								<div class="company_ad_time col-xs-12 text-left">
									<span class="company_ad_time1">开始时间：2020/07/08</span>		
									<span class="company_ad_time1">结束时间：2020/09/11</span>		
								</div>
							</div>
						</div>
						<div class="company_ad col-xs-12">
							<div class="company_ad_img col-xs-3 col-md-2"><img src="../../../static/img/images/company/guanggao.jpg">
							</div>
							<div class="company_ad_txt col-xs-9  col-md-10">
								<div class="company_ad_title col-xs-12 text-left">
									广告类型：中文板顶部横幅广告
								</div>
								<div class="company_ad_del col-xs-12 text-left">
广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告
								</div>
								<div class="company_ad_time col-xs-12 text-left">
									<span class="company_ad_time1">开始时间：2020/07/08</span>		
									<span class="company_ad_time1">结束时间：2020/09/11</span>		
								</div>
							</div>
						</div>
						<div class="company_ad col-xs-12">
							<div class="company_ad_img col-xs-3 col-md-2"><img src="../../../static/img/images/company/guanggao.jpg">
							</div>
							<div class="company_ad_txt col-xs-9  col-md-10">
								<div class="company_ad_title col-xs-12 text-left">
									广告类型：中文板顶部横幅广告
								</div>
								<div class="company_ad_del col-xs-12 text-left">
广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告广告类型：中文板顶部横幅广告
								</div>
								<div class="company_ad_time col-xs-12 text-left">
									<span class="company_ad_time1">开始时间：2020/07/08</span>		
									<span class="company_ad_time1">结束时间：2020/09/11</span>		
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 kong"></div>
					<div class="company_recommend col-xs-12">
						<div class="company_recommend_left col-xs-6">
							<div class="recommend_left_title col-xs-12">
								<span class="col-xs-6 text-left">供货商推荐</span>
								<span class="col-xs-6 text-right "> 更多>> </span>
							</div>
							<div class="recommend_left_content col-xs-12">
								<a class="recommend_left_content1 col-xs-6">[供货|商推荐]供货上推荐供货上推荐</a>
								<a class="recommend_left_content1 col-xs-6">主营产品：供货上推荐供货上推荐供货上推荐供货上推荐</a>
							</div>
							
						</div>
						<div class="company_recommend_right col-xs-6">
							<div class="recommend_left_title col-xs-12">
								<span class="col-xs-6 text-left">采购商推荐</span>
								<span class="col-xs-6 text-right "> 更多>> </span>
							</div>
							<div class="recommend_left_content col-xs-12">
								<a class="recommend_left_content1 col-xs-12">[供货|商推荐]供货上推荐供货上推主营产品主营产品主营产品主营产品荐</a>
								
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 kong"></div>
					<div class="company_recommend col-xs-12">
						<div class="company_recommend_left col-xs-6">
							<div class="recommend_left_title col-xs-12">
								<span class="col-xs-6 text-left">今日资讯</span>
								<span class="col-xs-6 text-right "> 更多>> </span>
							</div>
							<div class="recommend_left_content col-xs-12">
								<a class="recommend_left_content1 col-xs-6">[供货|商推荐]供货上推荐供货上推荐</a>
								<a class="recommend_left_content1 col-xs-6">主营产品：供货上推荐供货上推荐供货上推荐供货上推荐</a>
							</div>
							
						</div>
						<div class="company_recommend_right col-xs-6">
							<div class="recommend_left_title col-xs-12">
								<span class="col-xs-6 text-left">推荐资讯</span>
								<span class="col-xs-6 text-right "> 更多>> </span>
							</div>
							<div class="recommend_left_content col-xs-12">
								<a class="recommend_left_content1 col-xs-6">[资讯]推荐资讯推荐资讯推荐资讯</a>
								<a class="recommend_left_content1 col-xs-6">[资讯]推荐资讯推荐资讯推荐资讯</a>
								
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 kong"></div>
					<div class="company_recommend col-xs-12">
						<div class="company_recommend_left col-xs-6">
							<div class="recommend_left_title col-xs-12">
								<span class="col-xs-6 text-left">展会信息</span>
								<span class="col-xs-6 text-right "> 更多>> </span>
							</div>
							<div class="recommend_left_content col-xs-12">
								<a class="recommend_left_content1 col-xs-6">[供货|商推荐]供货上推荐供货上推荐</a>
								<a class="recommend_left_content1 col-xs-6">主营产品：供货上推荐供货上推荐供货上推荐供货上推荐</a>
							</div>
							
						</div>
						<div class="company_recommend_right col-xs-6">
							<div class="recommend_left_title col-xs-12">
								<span class="col-xs-6 text-left">新入库简历</span>
								<span class="col-xs-6 text-right "> 更多>> </span>
							</div>
							<div class="recommend_left_content col-xs-12 text-center">
								<div class="recommend_left_content2 col-xs-3">[招聘]销售经理</div>
								<div class="recommend_left_content2 col-xs-3">广州</div>
								<div class="recommend_left_content2 col-xs-3">6-8k</div>
								<div class="recommend_left_content2 col-xs-3">经验：10年</div>
								
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 kong"></div>
				</div>
			</div>
		</div>
	</div>		
<div>
	
		<iframe marginwidth="0" marginheight="0" src="../../base/bottom.html" width="100%" height="500px"></iframe>
	</div>
</body>
</html>


