{% extends 'base/base2.html' %}
{% load static %}
{% block script %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/purchase.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/supplyInformation.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/querydel.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/supplier.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/supplyInfo.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/recruit.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
	{% block body %}

<div class="recruit" style="width:88%;margin-left:9.5%;background-color: #F8F8F8;">
	<div class="recruit_left col-xs-offset-1 col-xs-2">
		<div class="recruit_left1 col-xs-12">
			<div class="recruit_left1_title col-xs-12">热门岗位</div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12 recruit_left1_conter1 text-center">查看更多</div>
		</div>
		
		<div class="recruit_left1 col-xs-12">
			<div class="recruit_left1_title col-xs-12">热门企业</div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12 recruit_left1_conter1 text-center">查看更多</div>
		</div>
		
		<div class="recruit_left1 col-xs-12">
			<div class="recruit_left1_title col-xs-12">最新简历</div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12 recruit_left1_conter1 text-center">查看更多</div>
		</div>
	</div>
	
	
	<div class="recruit_right col-xs-7">
		<div class="recruit_right_title col-xs-12">
			<div class="recruit_right_title1 col-xs-1 text-center"><a href="/indexdata_invite1/">找工作</a></div>
			<div class="recruit_right_title1 active col-xs-1 text-center"><a href="">找企业</a></div>
		</div>
		
		<div class="job_search col-xs-12">
		<from class="recruit_right_search col-xs-6">
			<div class="recruit_right_search1 active col-xs-2 text-center">搜索职位</div>
			 <input type="text" class="recruit_search_input1 col-xs-4" id="name" placeholder="请输入名称">
		</from>
		
		<from class="recruit_right_search  col-xs-6">
			<div class="col-xs-6 text-right recruit_search_btn">
				<div href="#" class="dropdown-toggle search_img" data-toggle="dropdown">
					工作职位 
					<img src="../../../static/img/images/public/xia.png">
				</div>
				<ul class="dropdown-menu">
					<li><a href="#">jmeter</a></li>
					<li><a href="#">EJB</a></li>
					<li><a href="#">Jasper Report</a></li>
					<li class="divider"></li>
					<li><a href="#">分离的链接</a></li>
					<li class="divider"></li>
					<li><a href="#">另一个分离的链接</a></li>
				</ul>
			</div>
			<div class="col-xs-4 recruit_search_btn">
				<div href="#" class="dropdown-toggle search_img" data-toggle="dropdown">
					工作职位 
					<img src="../../../static/img/images/public/xia.png">
				</div>
				<ul class="dropdown-menu">
					<li><a href="#">jmeter</a></li>
					<li><a href="#">EJB</a></li>
					<li><a href="#">Jasper Report</a></li>
					<li class="divider"></li>
					<li><a href="#">分离的链接</a></li>
					<li class="divider"></li>
					<li><a href="#">另一个分离的链接</a></li>
				</ul>
			</div>
<!--
			<div class="col-xs-2 recruit_search_btn1 text-left">
				搜索职位
			</div>
-->
			</from>
		</div>
		<div class="seekjob_corter col-xs-12">
			
			<div class="seekjob_body col-xs-12">
				<div class="seekjob_body_img col-xs-2"><img src="../../../static/img/images/recruit/1.jpg"></div>
				<div class="seekjob_body1 col-xs-10">
					<a class="seekjob_body_title col-xs-8" href="/invite_detail1/">多工位冷链师傅
						<span class="seekjob_body_title_btn">立即沟通</span>
					</a>				
					
					<span class="enter_body_corter1 col-xs-4 text-right">6-8k</span>

					<div class="seekjob_body_corter2 col-xs-12">
						<span class="seekjob_money2 col-xs-2">已上市</span>
						<span class="seekjob_money2 col-xs-2">50-150人</span>
						<span class="seekjob_money2 col-xs-2">广州</span>
					</div>

					<div class="seekjob_body_corter2 col-xs-11">
						<span class="enter_money1 col-xs-3">招聘职位：35</span>
						<span class="enter_money1 col-xs-3">待招人数：35</span>
						<span class="enter_money1 col-xs-3">应聘人数：100</span>
					</div>
					<div class="seekjob_body_time col-xs-1">3分钟前</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- dddd-->
	
</div>
{% endblock %}




