<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>300常用轴承型号</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<link href="{% static 'css/bottom.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/head.css' %}" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>
<link href="../../../static/css/index.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/purchase.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/supplyInformation.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/querydel.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/supplier.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/supplyInfo.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/recruit.css" rel="stylesheet" type="text/css" />
	
  
<style>
body {
    background-color: #F2F2F2;
    font-size: 12px;
    font-family: "微软雅黑";
	color: #010101;
	height:auto;
}
</style>

</head>
<body>
	<div>
	
		<iframe marginwidth="0" marginheight="0" src="../../base/base1.html" width="100%" height="250px"></iframe>
	</div>
<div class="recruit col-md-10 col-md-offset-1" style="background-color: #F2F2F2;">
	<div class="recruit_left col-xs-2">
		<div class="recruit_left1 col-xs-12">
			<div class="recruit_left1_title col-xs-12">热门岗位</div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12 recruit_left1_conter1 text-center">查看更多</div>
		</div>
		
		<div class="recruit_left1 col-xs-12">
			<div class="recruit_left1_title col-xs-12">热门企业</div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12 recruit_left1_conter1 text-center">查看更多</div>
		</div>
		
		<div class="recruit_left1 col-xs-12">
			<div class="recruit_left1_title col-xs-12">最新简历</div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12"><div class="recruit_left1_conter col-xs-12">生产车工</div></div>
			<div class="col-xs-12 recruit_left1_conter1 text-center">查看更多</div>
		</div>
	</div>
	
	
	<div class="recruit_right col-xs-10">
		<div class="recruit_right_title col-xs-12">
			<div class="recruit_right_title1 active col-xs-1 text-center"><a>找工作</a></div>
			<div class="recruit_right_title1 col-xs-1 text-center"><a href="seekEnterprise.html">找企业</a></div>
		</div>
		<div class="job_search col-xs-12">
			<from class="recruit_right_search col-xs-6">
				<div class="recruit_right_search1 active col-xs-2 text-center">搜索职位</div>
				 <input type="text" class="recruit_search_input1 col-xs-4" id="name" placeholder="请输入名称">
			</from>

			<from class="recruit_right_search  col-xs-6">
				<div class="col-xs-6 text-right recruit_search_btn">
					<div href="#" class="dropdown-toggle search_img" data-toggle="dropdown">
						工作职位 
						<img src="../../../static/img/images/public/xia.png">
					</div>
					<ul class="dropdown-menu">
						<li><a href="#">jmeter</a></li>
						<li><a href="#">EJB</a></li>
						<li><a href="#">Jasper Report</a></li>
						<li class="divider"></li>
						<li><a href="#">分离的链接</a></li>
						<li class="divider"></li>
						<li><a href="#">另一个分离的链接</a></li>
					</ul>
				</div>
				<div class="col-xs-4 recruit_search_btn">
					<div href="#" class="dropdown-toggle search_img" data-toggle="dropdown">
						工作职位 
						<img src="../../../static/img/images/public/xia.png">
					</div>
					<ul class="dropdown-menu">
						<li><a href="#">jmeter</a></li>
						<li><a href="#">EJB</a></li>
						<li><a href="#">Jasper Report</a></li>
						<li class="divider"></li>
						<li><a href="#">分离的链接</a></li>
						<li class="divider"></li>
						<li><a href="#">另一个分离的链接</a></li>
					</ul>
				</div>
			
<!--
			<div class="col-xs-2 recruit_search_btn1 text-left">
				搜索职位
			</div>
-->
			</from>
		</div>
		<div class="seekjob_corter col-xs-12">
			<div class="seekjob_body col-xs-12">
				<a class="seekjob_body_title col-xs-6" href="seekJob_detail.html">多工位冷链师傅
					<span class="seekjob_body_title_btn">立即沟通</span>
				</a>
				
				<span class="seekjob_body_corter col-xs-2">国企 | 50-150人</span>
				<span class="seekjob_body_corter1 col-xs-4">广州金蜘蛛轴承有限公司</span>
				
				<div class="seekjob_body_corter2 col-xs-12">
					<span class="seekjob_money col-xs-1">6-8k </span>
					<span class="seekjob_money2 col-xs-1"> 本科</span>
					<span class="seekjob_money2 col-xs-1">广州</span>
					<span class="seekjob_money2 col-xs-1">不限</span>
				</div>
				
				<div class="seekjob_body_corter2 col-xs-11">
					<span class="seekjob_money1 col-xs-1">五险一金</span>
					<span class="seekjob_money1 col-xs-1">绩效奖金</span>
					<span class="seekjob_money1 col-xs-1">定期休假</span>
					<span class="seekjob_money1 col-xs-1">定期休假</span>
					<span class="seekjob_money1 col-xs-1">定期休假</span>
				</div>
				<div class="seekjob_body_time col-xs-1">3分钟前</div>
			</div>
			
			<div class="seekjob_body col-xs-12">
				<a class="seekjob_body_title col-xs-6"  href="/invite_detail1/">多工位冷链师傅
					<span class="seekjob_body_title_btn">立即沟通</span>
				</a>
				
				<span class="seekjob_body_corter col-xs-2">国企 | 50-150人</span>
				<span class="seekjob_body_corter1 col-xs-4">广州金蜘蛛轴承有限公司</span>
				
				<div class="seekjob_body_corter2 col-xs-12">
					<span class="seekjob_money col-xs-1">6-8k </span>
					<span class="seekjob_money2 col-xs-1"> 本科</span>
					<span class="seekjob_money2 col-xs-1">广州</span>
					<span class="seekjob_money2 col-xs-1">不限</span>
				</div>
				
				<div class="seekjob_body_corter2 col-xs-11">
					<span class="seekjob_money1 col-xs-1">五险一金</span>
					<span class="seekjob_money1 col-xs-1">绩效奖金</span>
					<span class="seekjob_money1 col-xs-1">定期休假</span>
					<span class="seekjob_money1 col-xs-1">定期休假</span>
					<span class="seekjob_money1 col-xs-1">定期休假</span>
				</div>
				<div class="seekjob_body_time col-xs-1">3分钟前</div>
			</div>
		</div>
	</div>
	
	<!-- dddd-->
	
</div>
<div>
	
		<iframe marginwidth="0" marginheight="0" src="../../base/bottom.html" width="100%" height="500px"></iframe>
	</div>
</body>
</html>




