.ent_headImg{
	padding-left: 0px;
	padding-right: 0px;
}
.ent_info{
	padding-top: 4rem;
}
.ent_info1_img img{
	height: 90px;
}

.item,.carousel-caption{
	width: 100%;
	height: 200px;
}
.carousel-caption{
	left: 0;
	top: 0;
	padding: 0;
}