{% extends 'base/base2.html' %}
{% load static %}

{% block script %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block style %}
    <style>
    body{
        background-color: #F8F8F8;
    }
    </style>
{% endblock %}
{% block body %}

	
	<div class="col-xs-6 col-sm-6 col-md-6 register">
		<div class="col-xs-2 col-sm-2 col-md-2 text-left" style="padding-top: 2rem;"><img style="height: 6rem;width: 6rem;" src="{% static 'img/images/index/logo.jpg' %}"></div>
		<div class="col-xs-8 col-sm-8 col-md-8 text-center"> 
			<div class="col-xs-12 col-sm-12 col-md-12 register_head">注册</div>
			<div class="col-xs-12 col-sm-12 col-md-12"><img src="{% static 'img/images/login/xiaxian.png' %}"></div>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-3"> </div>
		
		<div class="col-xs-12 col-sm-12 col-md-12 text-center register_re">
				<div class="col-xs-6 col-sm-6 col-md-6 text-center">
					<span class="register_zc col-xs-6 col-sm-6 col-md-6 text-right">
						<div>企业注册</div>
						<img style="padding-right: 0.8rem" src="{% static 'img/images/login/xiaxian.png' %}">
					</span>
					<span class="col-xs-6 col-sm-6 col-md-4 text-left">个人注册</span>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 text-center">
					<span class="register_zc">已有账号？</span>
					<span class="register_zc"><a href="/login/">快速登录>></a></span>
				</div>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2"> </div>
		
		<div class="col-xs-8 col-sm-8 col-md-8 text-center">	
					<form class="form-horizontal" role="form">
						<div class="form-group form_qy">
							<div class="col-xs-12 col-sm-12 col-md-12 text-center">
								<input type="text" class="form-control" id="uname" 
									   placeholder="请设置用户名">
							</div>
						</div>
						
						<div class="form_qy">
							<div class="inputlxr col-xs-7 col-sm-7 col-md-7">
								<input type="text" class="form-control" id="lname" 
									   placeholder="请输入联系人名称">
							</div>
							
							<div class="col-xs-5 col-sm-5 col-md-5 text-right">
								<label class="radio-inline">
									<input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked>先生
								</label>
								<label class="radio-inline">
									<input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2">女士
								</label>
							</div>
							
						</div>
						
						
						<div class="input-group form_qy col-xs-12 col-sm-12 col-md-12">
							<input type="text" class="form-control" placeholder="选择企业类型">
							<div class="input-group-btn">

								<button type="button" class="btn xiala" data-toggle="dropdown" tabindex="-1">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu pull-right">
									<li><a href="#">功能</a></li>
									<li><a href="#">另一个功能</a></li>
									<li><a href="#">其他</a></li>
									<li class="divider"></li>
									<li><a href="#">分离的链接</a></li>
								</ul>
							</div><!-- /btn-group -->
						</div><!-- /input-group -->

						
						<div class="form-group form_qy">
							<div class="col-sm-12 text-center">
								<input type="text" class="form-control" id="local" 
									   placeholder="输入公司地址">
							</div>
						</div>
						
						
						<div class="form-group form_qy">
							<div class="col-sm-12 text-center">
								<input type="text" class="form-control" id="tel" 
									   placeholder="输入固定电话">
							</div>
						</div>
						
						 <button type="button" class="btn loginbutton col-xs-12 col-sm-12 col-md-12 text-center">
						同意条款并注册</button>
						
						<div class="form-group form_qy">
							<div class="col-sm-12 text-center register_tk">
								<label>
									<input type="checkbox">已阅读并同意
								</label>
								<label><a href="#">《金蜘蛛承轴网服务条款》</a></label>
								<label><a href="#">《金蜘蛛承轴网服务条款》</a></label>
							</div>
						</div>
						
					</form>
				</div>
		
	</div>
	
			
	
	

{% endblock %}
