<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script> 
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="../css/index.css" rel="stylesheet" type="text/css" />
	<link href="../css/head.css" rel="stylesheet" type="text/css" />
</head>

<body>
	
	<div class="head" style="height:15rem;width: 80%;background-color: FFFFFF;margin-left: 10%;">
		<div style="margin-top: 1rem;">
			<div class="col-xs-3 col-sm-3 col-md-3 text-right">
				<img style="width: 80%;height:8rem" src="../images/index/201761417723.jpg">
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 text-center">
				<img style="width: 100%;height:8rem" src="../images/index/u=2268907206.jpg">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 text-left">
				<img style="width: 80%;height:8rem" src="../images/index/middlemh1rstrz.jpg">
			</div>
		</div>
		<div class="hemlHead">
		<div class="text-center col-xs-12 col-sm-12 col-md-12 text-center" style="padding-top: 1rem;">
		  <div class="row">
			<div class="container col-xs-1 col-sm-1 col-md-1 text-center" style="background-color:#FFFFFF;"> </div>
			<div class="container col-xs-4 col-sm-4 col-md-4 text-left">
			  <ul class="list-inline">
				<li>中文</li>
				<li>|</li>
				<li>Englishi</li>
				<li>|</li>
				<li>繁体字</li>
			  </ul>
			</div>
			<div class="container col-xs-6 col-sm-6 col-md-6 text-right">
			  <ul class="list-inline">
				<li>你好，请登录</li>
				<li>免费注册</li>
			  </ul>
			</div>
			<div class="container col-xs-1 col-sm-1 col-md-1"> </div>
		  </div>
		</div>
		</div>
	</div>


</body>
</html>
