<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script> 
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="../css/index.css" rel="stylesheet" type="text/css" />
	<link href="../css/head.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="head" style="height:16rem;width: 80%;background-color: FFFFFF;margin-left: 10%;">
		<div style="margin-top: 1rem;">
		</div>
		<div class="hemlHead">
		<div class="text-center col-xs-12 col-sm-12 col-md-12 text-center" style="padding-top: 1rem;">
		  <div class="row">
			<div class="container col-xs-1 col-sm-1 col-md-1 text-center" style="background-color:#FFFFFF;"> </div>
			<div class="container col-xs-4 col-sm-4 col-md-4 text-left">
			  <ul class="list-inline">
				<li>中文</li>
				<li>|</li>
				<li>Englishi</li>
				<li>|</li>
				<li>繁体字</li>
			  </ul>
			</div>
			<div class="container col-xs-6 col-sm-6 col-md-6 text-right">
			  <ul class="list-inline">
				<li><a style="color:#000000" target="_parent" href="/jzzbearing/templates/frontHtml/login/login.html">你好，请登录</a></li>
				<li><a style="color:#000000" target="_parent" href="/jzzbearing/templates/frontHtml/login/peRegister.html">免费注册</a></li>
				<li><a style="color:#000000" target="_parent" href="/jzzbearing/templates/frontHtml/login/peRegister.html">客服在线</a></li>
				<li><a style="color:#000000" target="_parent" href="/jzzbearing/templates/frontHtml/login/peRegister.html">广告服务</a></li>
				<li><a style="color:#000000" target="_parent" href="/jzzbearing/templates/frontHtml/login/peRegister.html">联系我们</a></li>
				<li><a style="color:#000000" target="_parent" href="/jzzbearing/templates/frontHtml/login/peRegister.html">帮助中心</a></li>
			  </ul>
			</div>
			<div class="container col-xs-1 col-sm-1 col-md-1"> </div>
		  </div>
		  <div class="row" style="height: 12rem;padding-top: 1rem;">
			<div class="container col-xs-1 col-sm-1 col-md-1"></div>
			<div class="container col-xs-1 col-sm-1 col-md-1 text-left"> <img style="height:7rem;width: 7rem;" src="../images/index/logo.jpg"> </div>
			<div class="container col-xs-5 col-sm-5 col-md-5" style="padding-top:2rem">
			  <div class="input-group"><!--保持内联，消除边框，类似于form-inline-->
				<div class="input-group-btn"><!--不换行，与相邻元素内联，包含dropdown-->
				  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border-Radius:0px"> 请选择<span class="caret"></span> </button>
				  <ul class="dropdown-menu">
					<li><a href="javascript:void(0);">宝贝</a></li>
					<li><a href="javascript:void(0);">店铺</a></li>
				  </ul>
				</div>
				<input type="text" class="form-control" placeholder="请输入关键词" />
				<span class="input-group-btn"><!--不换行，与相邻元素内联-->
				<button class="btn btn-primary" style="border-Radius:0px;">搜索</button>
				</span> <span class="input-group-btn" style="padding-left: 2rem;"><!--不换行，与相邻元素内联-->
				<button class="btn btn-primary" style="border-Radius:0px">发布信息</button>
				</span> </div>
			</div>
			<div class="container col-xs-3 col-sm-3 col-md-3 text-right"> <img style="height: 8rem;width:20rem;" src="../images/index/shanghaijingujian.jpg"> </div>
			<div class="container col-xs-1 col-sm-1 col-md-1 text-right"> <img style="height: 8rem;width:8rem;" src="../images/index/bearing.jpg"></div>
			<div class="container col-xs-1 col-sm-1 col-md-1 text-center"></div>
		  </div>
		</div>
		</div>
<div class="nav_a">
  <div class="row">
   <div class="container col-md-1 text-center"></div>
    <div  class="container col-md-11 text-center">
      <ul class="nav nav-pills anav head3">
        <li class="navs" id="index"><a target="_parent" href="/jzzbearing/templates/frontHtml/index.html">首页</a></li>
        <li><a class="navs" target="_parent" href="/jzzbearing/templates/frontHtml/query/querydel.html">供货信息</a></li>
        <li><a class="navs" target="_parent" href="/jzzbearing/templates/frontHtml/purchase.html">采购导航</a></li>
        <li><a class="navs" target="_parent" href="/jzzbearing/templates/frontHtml/query/brandYellowPages.html">型号查询</a></li>
        <li><a class="navs" target="_parent" href="#">找供应商</a></li>
        <li><a class="navs" target="_parent" href="#">采购信息</a></li>
        <li><a class="navs" target="_parent" href="#">行业动态</a></li>
        <li><a class="navs" target="_parent" href="#">展会信息</a></li>
        <li><a class="navs" target="_parent" href="#">培训信息</a></li>
        <li><a class="navs" target="_parent" href="#">技术交流</a></li>
        <li><a class="navs" target="_parent" href="#">杂志期刊</a></li>
        <li><a class="navs" target="_parent" href="#">招配信息</a></li>
        <li><a class="navs" target="_parent" href="#">企业信用查询</a></li>
      </ul>
    </div>
  </div>
</div>
	</div>
<script>
	
</script>

</body>
</html>
