<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>采购导航</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/js/Vue.jsv2.6.11.js"></script>
<script type="text/javascript" src="../../static/js/vue.min.js"></script>
<script type="text/javascript" src="../../static/js/api.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>

<link href="../../static/css/index.css" rel="stylesheet" type="text/css" />
<link href="../../static/css/purchase.css" rel="stylesheet" type="text/css" />

	

	
	
<style>
body {
    background-color: #F2F2F2;
    font-size: 12px;
    font-family: "微软雅黑";
	color: #010101;
	height:auto;
}
</style>

</head>
<body>
	<div>
	
		<iframe marginwidth="0" marginheight="0" src="../base/base1.html" width="100%" height="250px"></iframe>
	</div>
<div class="col-md-10 col-md-offset-1" style="background-color: #F2f2f2;">
	
	<div class="purchase col-xs-10 col-sm-10 col-md-12 text-center">
		<div class="col-xs-3 col-sm-3 col-md-2 purchase_left">
			<div class="purchase_cxtitle text-center"><span>优质轴承供应商</span></div>
			<div class="purchase_img"><img src="../frontHtml/images/index/view_l1.jpg"></div>
			<div class="purchase_img text-center"><img src="../frontHtml/images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../frontHtml/images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../frontHtml/images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../frontHtml/images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../frontHtml/images/index/view3.jpg"></div>
		</div>
		
		<div class="container_purchase_center col-xs-8 col-sm-8 col-md-8">
			<div class="purchase_center_top">
				<div class="purchase_center_top_t text-left">
					<div class="col-xs-2 col-sm-2 col-md-2 purchase_cente_t">
						<span class="purchase_center_span">轴承品牌</span>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-12 purchase-cen-cen">
					<div class="purchase_center_list col-xs-2 col-sm-2 col-md-2 text-left"> 
						ASAHI
					</div>
					<div class="purchase_center_list col-xs-2 col-sm-2 col-md-2 text-left"> 
						ASAHI
					</div>
					<div class="purchase_center_list col-xs-2 col-sm-2 col-md-2 text-left"> 
						ASAHI
					</div>
				</div>
			</div>
			
			<div class="purchase_center_top2">
				<div class="purchase_center_top_t text-left">
					<div class="col-xs-2 col-sm-2 col-md-2 purchase_cente_t">
						<span class="purchase_center_span">轴承</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 purchase-cen-cen">
					<div class="purchase_center_list col-xs-2 col-sm-2 col-md-2 text-left"> 
						非标轴承
					</div>
					<div class="purchase_center_list col-xs-2 col-sm-2 col-md-2 text-left"> 
						尼龙轴承
					</div>
					<div class="purchase_center_list col-xs-2 col-sm-2 col-md-2 text-left"> 
						离合器轴承
					</div>
				</div>
			</div>
			
			<div class="purchase_center_top3">
				<div class="purchase_center_top_t text-left">
					<div class="col-xs-2 col-sm-2 col-md-2 purchase_cente_t">
						<span class="purchase_center_span">球轴承</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 purchase-cen-cen2">
					<div class="purchase_center_list col-xs-2 col-sm-2 col-md-2 text-left"> 
						非标轴承
					</div>
					<div class="purchase_center_list col-xs-2 col-sm-2 col-md-2 text-left"> 
						尼龙轴承
					</div>
					<div class="purchase_center_list col-xs-2 col-sm-2 col-md-2 text-left"> 
						离合器轴承
					</div>
				</div>
			</div>
			
			<div class="purchase_center_top4">
				<div class="purchase_center_top_t text-left">
					<div class="col-xs-2 col-sm-2 col-md-2 purchase_cente_t">
						<span class="purchase_center_span">直线运动</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 purchase-cen-cen2">
					<div class="purchase_center_list col-xs-2 col-sm-2 col-md-2 text-left"> 
						非标轴承
					</div>
					<div class="purchase_center_list col-xs-2 col-sm-2 col-md-2 text-left"> 
						尼龙轴承
					</div>
					<div class="purchase_center_list col-xs-2 col-sm-2 col-md-2 text-left"> 
						离合器轴承
					</div>
				</div>
			</div>
			
		</div>
		
		
		
		<div class="col-xs-2 col-sm-2 col-md-2 purchase_right">
			<div class="purchase_cxtitle text-center"><span>优质轴承供应商</span></div>
			<div class="purchase_img text-center"><img src="../frontHtml/images/index/view_l1.jpg"></div>
			<div class="purchase_img text-center"><img src="../frontHtml/images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../frontHtml/images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../frontHtml/images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../frontHtml/images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../frontHtml/images/index/view3.jpg"></div>
		</div>
		
	</div>
	
	
</div>
<div>
	
		<iframe marginwidth="0" marginheight="0" src="../base/bottom.html" width="100%" height="500px"></iframe>
	</div>

	<div id="renqi_cen1">
	
	</div>
<script>
	var url1 = geturl();
	console.log(url1)
	
		new Vue({
        el: '#renqi_cen1',
		url1:url1,
        data: {
            resp: "",

        },
        mounted(){
                var _this=this;
                axios
					.get(url1+'api/v1/bearingtype/1/?platform=PC&access_token=jzz061582e228ba4b1c8f96a780674a555d')
                    .then(function (response) {
                       console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
        }
    })
</script>
</body>
</html>



