<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <title></title>

    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>

</head>

<body>

<div id="app">
        <li v-for="(item,index) in data">

            <div @click="showIndex = index" :class="{'divborder':showIndex == index}"> show {{ item }}</div>

        </li>
</div>

<script>

    var app = new Vue({
        el: '#app',
        data(){
            return {
                data: ['aa', 'bb', 'cc'],
                showIndex: 0
            }

        }



    })

</script>

<style>

    .divborder {

        border: 1px solid #ddd;

    }

</style>

</body>