<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>底部</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="vipCss/bottom.css" rel="stylesheet" type="text/css" />
	
</head>
<body> 
	<div class="footer">
		<div class="col-xs-11 footer_title col-md-offset-1">
			<div class="footer_title1 col-xs-1">
				<div class="footer_title1del">品牌故事</div>
				<div class="footer_title1del1">企业介绍</div>
				<div class="footer_title1del1">企业荣誉</div>
			</div>
			
			<div class="footer_title1 col-xs-1">
				<div class="footer_title1del">企业动态</div>
				<div class="footer_title1del1">新闻动态</div>
				<div class="footer_title1del1">招聘信息</div>
			</div>
			
			<div class="footer_title1 col-xs-1">
				<div class="footer_title1del">联系方式</div>
				<div class="footer_title1del1">业务合作</div>
				<div class="footer_title1del1">加入我们</div>
			</div>
			
			<div class="footer_title1 col-xs-1">
				<div class="footer_title1del">友情链接</div>
				<div class="footer_title1del1">金蜘蛛紧固件网</div>
				<div class="footer_title1del1">金蜘蛛轴承网</div>
				<div class="footer_title1del1">紧固件展会网</div>
			</div>
			
			<div class="footer_title1 col-xs-1">
				<div class="footer_title1del">行业免费</div>
				<div class="footer_title1del1">季刊《紧固件》</div>
				<div class="footer_title1del1">CDF</div>
			</div>
			
			<div class="footer_title1 col-xs-7">
				<div class="footer_title1del">联系信息</div>
				<div class="col-xs-4 bottom_tel">
					<div class="footer_title1del1">联系人：张小姐</div>
					<div class="footer_title1del1">电&emsp;话：15985888987</div>
					<div class="footer_title1del1">地&emsp;址：广州金蜘蛛广州金蜘蛛广州金蜘蛛</div>
				</div>
				<div class="col-xs-8 text-left bottom_tel">
					<div class="footer_title1del1">手&emsp;机：广州金蜘蛛广州金蜘蛛广州金蜘蛛</div>
					<div class="footer_title1del1">电&emsp;话：15985888987</div>
				</div>
			</div>
		</div>
		
		
		<div class="col-xs-9 footer_message col-md-offset-1">
			<div class="col-xs-12 footer_title1del">在线留言</div>
			<form class="input_message col-xs-11" role="form">
				<div class="col-xs-5">
					<input type="text" class="inputM1 col-xs-12 form-control" placeholder="名字">
					<input type="text" class="inputM1 col-xs-12 form-control" placeholder="联系方式">
				</div>
				<div class="col-xs-6">
					<textarea type="text" class="inputM2 col-xs-12 form-control" placeholder="留言内容："></textarea >
				</div>
				<div class="col-xs-1">
					<button type="button" class="btn btn-default mess_btn">发送</button>
				</div>
				
			</form >
			<div class="col-xs-1">
				<div class="Micom col-xs-12">
					<img src="vipImg/u228.png">
				</div>
					<div class="Micom col-xs-12">
					<img src="vipImg/u221.png">
				</div>
				<div class="Micom col-xs-12">
					<img src="vipImg/u219.png">
				</div>
			</div>
		</div>
		
		<div class="col-xs-12 bottom_info text-center">
			<div class="col-xs-12 bottom_infodel">法律声明： 本网站中的厂商资料,供货,需求,合作，企业新闻等信息由本网站的注册会员发布,其合法性和真实性由各个发布信息的注册会员负责</div>
			<div class="col-xs-12 bottom_infodel">
				<a href="http://www.3339.info/icp.htm">经营许可证编号:粤ICP证B2-20050251</a>&emsp; |&emsp; 
				<a href="http://www.beian.miit.gov.cn">备案号:粤ICP备09029740号</a>
			</div>
			<div class="col-xs-12 bottom_infodel">粤公网安备 44011102001660号</div>
			<div class="col-xs-12 bottom_infodel">技术支持：广东金蜘蛛电脑网络有限公司</div>
			<div class="col-xs-12 bottom_infodel">Golden Spider Network Co，Ltd.</div>
		
		</div>
	</div>	
</body>

</html>