<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>企业简介</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="vipCss/head.css" rel="stylesheet" type="text/css" />
	<link href="vipCss/enterprise.css" rel="stylesheet" type="text/css" />
	
</head>
<body>
	<div style="width: 100%;">
		<iframe src="head.html" frameborder="0" width="100%" scrolling="No" height="191px"></iframe>	
	</div>
	
	<div class="ent_headImg col-xs-12">
		<img src="vipImg/u55_state0.jpg">
	</div>
	<div class="ent_info col-xs-8 col-md-offset-3">
		<img src="vipImg/u186.jpg">
	</div>
	<div class="ent_info1 col-xs-8 col-md-offset-3">
		<div id="myCarousel" class="carousel slide">
	
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner" style=" width:80rem;" >
		<div class="item active">
			<div class="carousel-caption">
				<img  class="col-xs-3" height="100" src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" >
				<img  class="col-xs-3" height="100" src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" >
				<img  class="col-xs-3" height="100" src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" >
				<img class="col-xs-3" height="100" src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" >
			</div>
			
		
		</div>
		<div class="item " style="">
			<div class="carousel-caption">
				<img style="display: inline-block;" class="col-xs-3" height="150" src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" >
				<img style="display: inline-block;" class="col-xs-3" height="150" src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" >
				<img style="display: inline-block;" class="col-xs-3" height="150" src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" >
				<img style="display: inline-block;" class="col-xs-3" height="150" src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" >
			</div>
			
		</div>
		
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="carousel-control" href="#myCarousel"  style="left: -94px;padding-top: 0rem;" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a class=" carousel-control" href="#myCarousel" style="left: 750px;padding-top: 0rem;" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	</a>
 
</div> 
		
	</div>
	
	
	
	<div style="width: 100%;">
		<iframe src="bottom.html" frameborder="0" width="100%" scrolling="No" height="580px" leftmargin="0" ></iframe></div>	
	<script type="text/javascript">
	
	$(document).ready(function(){
    $('#myCarousel').carousel()
   })
</script>
</body>

</html>