<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>vip首页</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="vipCss/index.css" rel="stylesheet" type="text/css" />
	
</head>
<body>
	<div style="width: 100%;">
		<iframe src="head.html" frameborder="0" width="100%" scrolling="No" height="191px"></iframe>	
	</div>
	
	<!--轮播图-->
	<div class="container col-xs-12 Rotation">
			<div class="carousel slide" id="slidershow" data-ride="carousel" data-interval="2000">
				<!--计数器-->
				<ol class="carousel-indicators">
					<li class="active" data-target="#slidershow" data-slide-to="0"></li>
					<li data-target="#slidershow" data-slide-to="1"></li>
					<li data-target="#slidershow" data-slide-to="2"></li>
				</ol>
				<!--图片容器-->
				<div class="carousel-inner" style="height: 360px">
					<div class="item active">
						<img src="vipImg/18110258.jpg"/>
								<!--添加对应标题和内容-->
							<div class="carousel-caption">
								<h4>图一</h4>
								<span>内容</span>
							</div>
					</div>
					<div class="item">
						<img src="vipImg/18110258.jpg"/>
							<!--添加对应标题和内容-->
								
					</div>
					<div class="item">
						<img src="vipImg/main_banner_minisite.jpg"/>
							<!--添加对应标题和内容-->	
					</div>
						<!--轮播导航-->	
				</div>
			</div>
	</div>
	<div class="col-xs-12 company">
		<div class="col-xs-4 col-md-offset-2 company_title">
			<h4>企业简介</h4>
			<p class="col-xs-12 company_text">菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！</p>
			
			<div class="col-xs-3 col-md-offset-7">
				<div class="company_more">了解更多</div>
				
			</div>
		</div>
		<div class="col-xs-4 company_img">
			<img src="vipImg/u186.jpg">
		</div>
	</div>
	<div class="company_center col-xs-12">
		<h4 class="company_title col-xs-12 text-center">优势产品</h4>
		<div class="col-xs-10 col-md-offset-1">
			<div class="col-xs-2 company_inImg"><img src="vipImg/u257.png"></div>
			<div class="col-xs-2 company_inImg"><img src="vipImg/u257.png"></div>
			<div class="col-xs-2 company_inImg"><img src="vipImg/u257.png"></div>
			<div class="col-xs-2 company_inImg"><img src="vipImg/u257.png"></div>
			<div class="col-xs-2 company_inImg"><img src="vipImg/u257.png"></div>
			<div class="col-xs-2 company_inImg"><img src="vipImg/u257.png"></div>
			<div class="col-xs-2 company_inImg"><img src="vipImg/u257.png"></div>
			<div class="col-xs-2 company_inImg"><img src="vipImg/u257.png"></div>
			<div class="col-xs-2 company_inImg"><img src="vipImg/u257.png"></div>
			<div class="col-xs-2 company_inImg"><img src="vipImg/u257.png"></div>
			<div class="col-xs-2 company_inImg"><img src="vipImg/u257.png"></div>
			<div class="col-xs-2 company_inImg"><img src="vipImg/u257.png"></div>
		</div>
		<div class="su_more col-xs-12 text-center"><a>查看跟多产品</a></div>
		
	</div>
	<div class="newInfo col-xs-12">
		<div class="newInfo1 col-xs-10 col-md-offset-1">
			<div class="newInfo_img col-xs-4">
				<div class="col-xs-12 newInfo_img">
					<img src="vipImg/u149.png">
					<p class="newInfo_imgtext col-xs-12">全球多家车企零部件面临断供危机：通用汽通用汽车车... </p>
				</div>
				
				<div class="newInfo_img_min col-xs-12">
					<div class="col-xs-6 newInfo_img">
						<img src="vipImg/u149.png">
						<p class="newInfo_imgtext col-xs-12">全球多家车企零部件面临断供危机：通用汽通用汽车车... </p>
					</div>
					<div class="col-xs-6 newInfo_img">
						<img src="vipImg/u149.png">
						<p class="newInfo_imgtext col-xs-12">全球多家车企零部件面临断供危机：通用汽通用汽车车... </p>
					</div>


				</div>
				
			</div>
			
			<div class="col-xs-5 newInfo_img_center">
				<div class="newInfo_img_center_title col-xs-11">
					<div class="newInfo_ict col-xs-10">新闻动态</div>
					<div class="newInfo_ict1 col-xs-2 text-right">查看更多</div>
				</div>	
				<div class="newInfo_img_center_title col-xs-11">
					<a class="newInfo_itext col-xs-10">全球多家车企零部件面临断供危机全球多家车企零部件面临断供危机：通</a>
					<div class="newInfo_ict2 col-xs-2 text-right">2020/10/12</div>
				</div>
				<div class="newInfo_img_center_title col-xs-11">
					<a class="newInfo_itext col-xs-10">全球多家车企零部件面临断供危机全球多家车企零部件面临断供危机：通</a>
					<div class="newInfo_ict2 col-xs-2 text-right">2020/10/12</div>
				</div>
			</div>
			
			<div class="col-xs-3 newInfo_img_center">
				<div class="newInfo_img_center_title col-xs-12">
					<div class="newInfo_ict col-xs-8">招聘信息</div>
					<div class="newInfo_ict1 col-xs-4 text-right">查看更多</div>
				</div>	
				<div class="newInfo_img_center_title col-xs-12">
					<a class="newInfo_itext col-xs-8">小编</a>
					<div class="newInfo_ict2 col-xs-4 text-right">2020/10/12</div>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	
	<div style="width: 100%;">
		<iframe src="bottom.html" frameborder="0" width="100%" scrolling="No" height="580px" leftmargin="0" ></iframe></div>	
	
</body>

</html>