<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>新闻动态</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="vipCss/newsInfo.css" rel="stylesheet" type="text/css" />
	<link href="vipCss/head.css" rel="stylesheet" type="text/css" />
	
</head>
<body style="background-color: #F2F2F2">
	<div style="width: 100%;">
		<iframe src="head.html" frameborder="0" width="100%" scrolling="No" height="191px"></iframe>	
	</div>
	
	<div class="col-xs-8 news_left col-md-offset-1">
		<div class="col-xs-12 news_left_title nav nav-tabs">
			<div class="col-xs-2 news_left_title1">新闻动态</div>
			<div class="hotName col-xs-1"><a href="#total" data-toggle="tab">全部</a></div>
			<div class="hotName col-xs-1"><a href="#hotspot" data-toggle="tab">热点</a></div>
			<div class="hotName col-xs-1"><a href="#newest" data-toggle="tab">最新</a></div>
			
			
		</div>
		<div class="tab-content container">
			<div class="total row col-xs-12 tab-pane fade in active" id="total">
				<div class="col-xs-11 newsDel">
					<div class="newsDel_img col-md-2"><img src="vipImg/u46.png"></div>
					<div class="newsDel_text col-md-10">
						<a class="newsDel_text_title col-md-11">当前新闻标题</a>
						<div class="newsDel_text_title col-md-1"><img src="vipImg/u51.png"></div>
						<div class="newsDel_text_title1 col-md-12">当前新闻时事当前新闻时事当前新闻时事当前新闻时事当前新闻时事当前新闻时事当前新闻时事当前</div>
						<div class="newsDel_text_time col-md-10">发布时间：2020/09/11</div>
						<div class="newsDel_text_time col-md-2">阅读量：9999</div>
					</div>
				</div>
				<div class="col-xs-11 newsDel">
					<div class="newsDel_img col-md-2"><img src="vipImg/u46.png"></div>
					<div class="newsDel_text col-md-10">
						<a class="newsDel_text_title col-md-11">当前新闻标题</a>
						<div class="newsDel_text_title col-md-1"><img src="vipImg/u51.png"></div>
						<div class="newsDel_text_title1 col-md-12">当前新闻时事当前新闻时事当前新闻时事当前新闻时事当前新闻时事当前新闻时事当前新闻时事当前</div>
						<div class="newsDel_text_time col-md-10">发布时间：2020/09/11</div>
						<div class="newsDel_text_time col-md-2">阅读量：9999</div>
					</div>
				
				</div>
			</div>
			<div class="total col-xs-12 tab-pane fade" id="hotspot">
				热点
			</div>
			<div class="total col-xs-12 tab-pane fade" id="newest">
				最新
			</div>
		</div>
		
		
	</div>
	<div class="col-xs-2 news_right">
		<div class="news_right_title col-xs-12">
			热点新闻
		</div>
		<div class="col-xs-12 news_right1">
			<div class="news_right_text col-xs-12">全球轴承全球轴承全球轴承</div>
		</div>
		<div class="col-xs-12 news_right1">
			<div class="news_right_text col-xs-12">全球轴承全球轴承全球轴承</div>
		</div>
	</div>
	
	
	
	
	
	
	<div style="width: 100%;">
		<iframe src="bottom.html" frameborder="0" width="100%" scrolling="No" height="580px" leftmargin="0" ></iframe>
	</div>	
	
</body>

</html>