<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>产品详情</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="vipCss/Display_head.css" rel="stylesheet" type="text/css" />
	
</head>
<body>
	<div style="width: 100%;">
		<iframe src="head.html" frameborder="0" width="100%" scrolling="No" height="191px"></iframe>	
	</div>
	
	<div class="displayDel col-xs-12">
		<div class="displayDel_titel col-xs-11 col-md-offset-1">首页-产品展示-当前产品标题</div>
		<div class="col-xs-12 delbody">
			<div class="col-xs-8 displayDel_left col-md-offset-1">
			<!--轮播图-->
			<div class="dDel_img col-xs-4 text-center">
				<div class="carousel slide" id="slidershow" data-ride="carousel" data-interval="2000">
						<!--计数器-->
						<ol class="carousel-indicators">
							<li class="active" data-target="#slidershow" data-slide-to="0"></li>
							<li data-target="#slidershow" data-slide-to="1"></li>
							<li data-target="#slidershow" data-slide-to="2"></li>
						</ol>
						<!--图片容器-->
						<div class="carousel-inner">
							<div class="item active" style="text-align: center;">
								<img src="vipImg/u13.jpg" style="display: inline-block;"/>
								<!--添加对应标题和内容-->
<!--
								<div class="carousel-caption">
									<h4>图一</h4>
									<span>内容</span>
								</div>
-->
							</div>
							<div class="item" style="text-align: center;">
								<img src="vipImg/u13.jpg" style="display: inline-block;"/>
								<!--添加对应标题和内容-->	
							</div>
							<div class="item" style="text-align: center;">
								<img src="vipImg/u13.jpg" style="display: inline-block;"/>
								<!--添加对应标题和内容-->	
							</div>
							<!--轮播导航-->	
						</div>
					</div>
				
			</div>
			<div class="col-md-8 del_name">
				<div class="del_info">
					<div class="col-md-12 del_title1">
						当前产品标题
					</div>

					<div class="col-md-12 del_tel">
						<p>价格：电话咨询</p>
						<p>规格：电话咨询</p>
						<p>标准：电话咨询</p>
					</div>
				</div>
				<div class="display_btn">
					<button type="button" class="btn btn-danger ">危险按钮</button>
					<button type="button" class="btn btn-default col-md-offset-1  dis_btn">默认按钮</button>	
				</div>
			</div>
			
		</div>
			
			<div class="col-xs-2 displayDel_right">
				<div class="Del_right_tel col-md-12">
					<div class="del_title col-md-12">
						联系方式
					</div>
					<div class="del_title1 col-md-12">
						金蜘蛛网络公司
					</div>
					<div class="del_title1 col-md-12">
						联系人：张先生
					</div>
					<div class="del_title1 col-md-12">
						联系手机：18955898878
					</div>
					<div class="del_title1 col-md-12">
						联系电话：020-8877789
					</div>
					<div class="del_title1 col-md-12">
						传真电话：020-8877789
					</div>
					<div class="del_title1 col-md-12">
						电子邮箱：15487987@163
					</div>
					<div class="del_title1 col-md-12">
						详细地址：张先生
					</div>
				</div>
		
			</div>
		</div>
		
		<div class="col-md-8 brief col-md-offset-1"> 
			<div class="brief_title col-md-12">
				产品简介
			</div>
		
		</div>
			<div class="col-xs-2 displayDel_right1">
				<div class="Del_right_tel2 col-md-12">
					<div class="del_title col-md-12">
						其它产品
					</div>
					<div class="del_title2 col-md-12">
						金蜘蛛网络公司
					</div>
					<div class="del_title2 col-md-12">
						联系人：张先生
					</div>
					<div class="del_title2 col-md-12">
						联系手机：18955898878
					</div>
					<div class="del_title2 col-md-12">
						联系电话：020-8877789
					</div>
					<div class="del_title2 col-md-12">
						传真电话：020-8877789
					</div>
					<div class="del_title2 col-md-12">
						电子邮箱：15487987@163
					</div>
					<div class="del_title2 col-md-12">
						详细地址：张先生
					</div>
				</div>
		
			</div>
		
	</div>
	
	
	
	
	
	
	<div style="width: 100%;">
		<iframe src="bottom.html" frameborder="0" width="100%" scrolling="No" height="580px" leftmargin="0" ></iframe>
	</div>	
	
</body>

</html>