<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>产品展示</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="vipCss/Display_head.css" rel="stylesheet" type="text/css" />
	
</head>
<body>
	<div style="width: 100%;">
		<iframe src="head.html" frameborder="0" width="100%" scrolling="No" height="191px"></iframe>	
	</div>
	
	<div class="Display_head col-xs-12">
		<div class="Display_head_title col-xs-12 text-center">
		
			
			<span class="renqi">人气<img class="hotImg" src="vipImg/hot.png"></span>
			<span>新品<img class="hotImg" src="vipImg/hot.png"></span>
		</div>
	
	</div>
	<div class="Display_center col-xs-12">
		<div class="Display_centerDel col-xs-10 col-md-offset-1">
			<a class="col-xs-1-5 Display_centerDel1" href="productDisplayDel.html">
				<img src="vipImg/u2.png">
				<p class="display_text text-left">扳手打不过螺丝系列列丝系不过螺丝系列列丝系</p>
				<div class="display_text_title col-xs-8">紧固件</div>
				<div class="display_text_title1 text-right col-xs-4">咨询报价</div>
			</a>
			
			
		</div>
		
	</div>
	
	
	
	
	
	<div style="width: 100%;">
		<iframe src="bottom.html" frameborder="0" width="100%" scrolling="No" height="580px" leftmargin="0" ></iframe>
	</div>	
	
</body>

</html>