<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>标准查询-详情</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="vipCss/vipQuery.css" rel="stylesheet" type="text/css" />
	
</head>
<body style="background-color: #F2F2F2">
	<div style="width: 100%;">
		<iframe src="head.html" frameborder="0" width="100%" scrolling="No" height="191px"></iframe>	
	</div>
	<div class="queryDel_title col-md-offset-1 col-xs-12">		
		<div class="queryDel_title1">首页-标准查询-轴承型号</div>
					
	</div>
	<div class="queryDel_left col-md-offset-1 col-xs-8">
		<div class="queryDel_del col-md-12">
			<div class="queryDel_img col-xs-6">
				<div class="carousel slide" id="slidershow" data-ride="carousel" data-interval="2000">
					<!--计数器-->
					<ol class="carousel-indicators">
						<li class="active" data-target="#slidershow" data-slide-to="0"></li>
						<li data-target="#slidershow" data-slide-to="1"></li>
						<li data-target="#slidershow" data-slide-to="2"></li>
					</ol>
					<!--图片容器-->
					<div class="carousel-inner" style="height: 360px">
						<div class="item active">
							<img src="vipImg/u146.jpg" class="img-responsive center-block"/>
									<!--添加对应标题和内容-->
								<div class="carousel-caption">
									<h4>图一</h4>
									<span>内容</span>
								</div>
						</div>
						<div class="item">
							<img src="vipImg/18110258.jpg" class="img-responsive center-block"/>
								<!--添加对应标题和内容-->					
						</div>
						<div class="item">
							<img src="vipImg/main_banner_minisite.jpg" class="img-responsive center-block"/>
								<!--添加对应标题和内容-->	
						</div>
							<!--轮播导航-->	
					</div>
				</div>
			</div>
			<div class="queryDel_text col-md-5">
				<div class="queryDel_text_title col-md-12">型号：WEEP25</div>
				<div class="queryDel_class col-md-12">类型：推力角接触球轴承</div>
				<div class="queryDel_numb col-md-4 text-left">内径：5</div>
				<div class="queryDel_numb col-md-4 text-left">外径：5</div>
				<div class="queryDel_numb col-md-4 text-left">宽度：13</div>
				<div class="queryDel_numb col-md-4 text-left">重量：0.555kg</div>
			</div>
		</div>
		
		<div class="table1 col-md-12">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td class="td1">品牌</td>
						<td>Bangalore</td>
						<td>560001</td>
						<td>560001</td>
						<td>Bangalore</td>
						<td>560001</td>
						<td>560001</td>
					</tr>
					<tr>
						<td class="td1">对应型号</td>
						<td>Mumbai</td>
						<td>400003</td>
						<td>400003</td>
						<td>Bangalore</td>
						<td>560001</td>
						<td>560001</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table1 col-md-12">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td class="td1">品牌</td>
						<td>Bangalore</td>
						<td>560001</td>
						<td>560001</td>
						<td>Bangalore</td>
						<td>560001</td>
						<td>560001</td>
					</tr>
					<tr>
						<td class="td1">对应型号</td>
						<td>Mumbai</td>
						<td>400003</td>
						<td>400003</td>
						<td>Bangalore</td>
						<td>560001</td>
						<td>560001</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="col-xs-2">
		<div class="query_right2 col-xs-12">
			<div class="query_title col-xs-12">热门查询</div>
			<div class="query_mes1 col-xs-12">
				广州金蜘蛛网络公司
			</div>
			
		</div>
		
		
		
	</div>
	
	<div class="querydel_bottom col-md-10 col-md-offset-1 ">
		<div class="querydel_bottom_title col-md-12 text-center">推荐产品</div>
		<div class="querydel_bottomImg col-md-2">
			<img src="vipImg/u2.png">
		</div>
		<div class="querydel_bottomImg col-md-2">
			<img src="vipImg/u2.png">
		</div>
		<div class="querydel_bottomImg col-md-2">
			<img src="vipImg/u2.png">
		</div>
		<div class="querydel_bottomImg col-md-2">
			<img src="vipImg/u2.png">
		</div>
		<div class="querydel_bottomImg col-md-2">
			<img src="vipImg/u2.png">
		</div>
		<div class="querydel_bottomImg col-md-2">
			<img src="vipImg/u2.png">
		</div>
	</div>
	
	
	
	
	
	<div style="width: 100%;">
		<iframe src="bottom.html" frameborder="0" width="100%" scrolling="No" height="580px" leftmargin="0" ></iframe>
	</div>	
	
</body>

</html>