<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>标准查询</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="vipCss/vipQuery.css" rel="stylesheet" type="text/css" />
	
</head>
<body style="background-color: #F2F2F2">
	<div style="width: 100%;">
		<iframe src="head.html" frameborder="0" width="100%" scrolling="No" height="191px"></iframe>	
	</div>
	<div class="query_title col-xs-12 nav nav-tabs">		
			<div class="hotName col-md-offset-1 col-xs-1"><a href="#total" data-toggle="tab">全部</a></div>
			<div class="hotName col-xs-2"><a href="#hotspot" data-toggle="tab">推力角接触轴承</a></div>
			<div class="hotName col-xs-1"><a href="#newest" data-toggle="tab">深沟球轴承</a></div>		
	</div>
	<div class="query_left col-md-offset-1 col-xs-8">
		<div class="col-xs-12 query_del">
			<div class="col-xs-2">
				<div class="query_img col-xs-12"><img class="img-responsive center-block" src="vipImg/u146.jpg"></div>
			</div>
			<div class="query_text col-xs-10">
				<a class="q_title col-xs-10" href="QueryDel.html">
					型号：UUYE12
				</a>
				<a class="q_title_btn col-xs-2 text-right" href="QueryDel.html">
					<button class="q_title_btn1">查询详情</button>
				</a>
			</div>
			<div class="q_numb col-xs-10">
				<span class="q_numb1 col-xs-2">内径：15</span>
				<span class="q_numb1 col-xs-2">外径：15</span>
				<span class="q_numb1 col-xs-2">宽度：15</span>
				<span class="q_numb1 col-xs-2">重量：0.55455</span>
			</div>
			<div class="q_table col-xs-10">
				<div class="q_table1 col-xs-12">
					<div class="col-md-1 q_table1_title">国外品牌</div>
					<div class="col-md-1 q_table1_del">国外品牌1</div>
					<div class="col-md-1 q_table1_del">国外品牌2</div>
					<div class="col-md-1 q_table1_del">国外品牌3</div>
				</div>
				<div class="q_table1 col-xs-12">
					<div class="col-md-1 q_table1_title">型&emsp;&emsp;号</div>
					<div class="col-md-1 q_table1_del">国外品牌1</div>
					<div class="col-md-1 q_table1_del">国外品牌2</div>
					<div class="col-md-1 q_table1_del">国外品牌3</div>
				</div>
			</div>
		</div>
	
		
		
		
		
		
		
		
		
		
	</div>
	
	
	<div class="col-xs-2">
		<div class="query_right col-xs-12">
			<div class="query_title col-xs-12">联系方式</div>
			<div class="query_mes col-xs-12">
				广州金蜘蛛网络公司
			</div>
			<div class="query_mes col-xs-12">
				联系人：张先生
			</div>
			<div class="query_mes col-xs-12">
				联系手机：13666666666
			</div>
			<div class="query_mes col-xs-12">
				联系电话：020-86666666
			</div>
			<div class="query_mes col-xs-12">
				传真电话：020-86666666
			</div>
			<div class="query_mes col-xs-12">
				电子邮箱：79789@qq.com
			</div>
			<p class="query_mess col-xs-12">
				详细地址：广东广州白云区白云上
			</p>
		</div>
		
		<div class="query_right1 col-xs-12">
			<div class="query_title col-xs-12">热门查询</div>
			<div class="query_mes1 col-xs-12">
				广州金蜘蛛网络公司
			</div>
			
		</div>
		
	</div>
	
	
	
	
	
	
	
	<div style="width: 100%;">
		<iframe src="bottom.html" frameborder="0" width="100%" scrolling="No" height="580px" leftmargin="0" ></iframe>
	</div>	
	
</body>

</html>