<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>招聘信息</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="vipCss/recruit.css" rel="stylesheet" type="text/css" />
	
</head>
<body style="background-color: #F2F2F2">
	<div style="width: 100%;">
		<iframe src="head.html" frameborder="0" width="100%" scrolling="No" height="191px"></iframe>	
	</div>
	
	<div class="recruit_left col-md-offset-1 col-xs-8">
		<div class="recruit_title col-xs-12">
			<div class="recruit_title1 col-xs-2 text-center">职位名</div>
			<div class="recruit_title1 col-xs-2 text-center">薪资</div>
			<div class="recruit_title1 col-xs-2 text-center">工作地点</div>
			<div class="recruit_title1 col-xs-2 text-center">经验要求</div>
			<div class="recruit_title1 col-xs-2 text-center">招聘人数</div>
			<div class="recruit_title1 col-xs-2 text-center">发布时间</div>
		</div>
		
		
		
	</div>
	
	<div class="col-xs-2">
		<div class="query_right2 col-xs-12">
			<div class="query_title col-xs-12">热门查询</div>
			<div class="query_mes1 col-xs-12">
				广州金蜘蛛网络公司
			</div>
			
		</div>
		
		
		
	</div>
	
	
	
	
	
	
	
	<div style="width: 100%;">
		<iframe src="bottom.html" frameborder="0" width="100%" scrolling="No" height="580px" leftmargin="0" ></iframe>
	</div>	
	
</body>

</html>