<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>行业动态-海外商情</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<link href="{% static 'css/bottom.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/head.css' %}" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>
<link href="../../../static/css/index.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/purchase.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/supplyInformation.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/querydel.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/supplier.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/industry.css" rel="stylesheet" type="text/css" />
<style>
body {
    background-color: #F2F2F2;
    font-size: 12px;
    font-family: "微软雅黑";
	color: #010101;
	height:auto;
}
</style>
<script>
    axios.get("http://localhost:8000/indexdata_industry0/")
      .then(function (response) {
          console.log(response)
          console.log(response.data.data[0].text)
        }, function (error) {
          console.log(error)
        }
      )
</script>
</head>
<body>
	<div>
	
		<iframe marginwidth="0" marginheight="0" src="../../base/base1.html" width="100%" height="250px"></iframe>
	</div>
<div class="col-md-10 col-md-offset-1" style="background-color: #F2f2f2;">
	<div class="left-p col-xs-1 col-sm-1 col-md-1"></div>
	<div class="purchase1_query col-xs-10 col-sm-10 col-md-10 text-center">
		<div class="col-xs-2 col-sm-2 col-md-2 purchase_left">
			<div class="purchase_cxtitle text-center"><span>轴承型号查询</span></div>
			<div class="purchase_img text-center"><img src="../images/index/view_l1.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
		</div>
		
		<div class="container col-xs-8 col-sm-8 col-md-8 supplier">
			<div class="industry_info col-md-12">
				<div class="col-md-1 industry_info_title"><a href="">业界信息</a></div>
				<div class="col-md-1 industry_info_title"><a href="industry_enterprise.html">企业风采</a></div>
				<div class="col-md-1 industry_info_title"><a href="industry_statistics.html">数据统计</a></div>
				<div class="col-md-1 industry_info_title active"><a href="industry_business.html">海外商情</a></div>
				<div class="col-md-1 industry_info_title"><a href="industry_CompanyNews.html">企业动态</a></div>
				<div class="col-md-7 industry_info_title"></div>
			</div>
			<div class="info_company col-md-12">
				<div class="info_company_left col-md-6">
					<img class="info_company_img" src="../../../static/img/images/industry/1.jpg">
					 <p class="info_company_text">菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！菜鸟教程，学的不仅是技术！！菜鸟教程，学的不仅是技术，！</p>
				</div>
				<div class="info_company_right col-md-6">
					<div class="company_right_list">
						<div class="company_right_img col-md-3"><img src="../../../static/img/images/industry/2.jpg"></div>
						<div class="company_right_text col-md-9" >
							 <p class="info_company_text_r"><img src="../../../static/img/images/industry/dian.png">菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！菜鸟教程，学的不仅是技术！！菜鸟教程，学的不仅是技术，！</p>
						</div>
					</div>
					<div class="company_right_list">
						<div class="company_right_img col-md-3"><img src="../../../static/img/images/industry/2.jpg"></div>
						<div class="company_right_text col-md-9" >
							 <p class="info_company_text_r"><img src="../../../static/img/images/industry/dian.png">菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！菜鸟教程，学的不仅是技术！！菜鸟教程，学的不仅是技术，！</p>
						</div>
					</div>
					<div class="company_right_list">
						<div class="company_right_img col-md-3"><img src="../../../static/img/images/industry/2.jpg"></div>
						<div class="company_right_text col-md-9" >
							 <p class="info_company_text_r"><img src="../../../static/img/images/industry/dian.png">菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！菜鸟教程，学的不仅是技术！！菜鸟教程，学的不仅是技术，！</p>
						</div>
					</div>
				</div>
			</div>
			
			
			
			<div class="supplier_del_bottom col-md-12">
				<div class="supplier_del_left col-md-8">
					
					
					<div class="supplier3 col-md-12">
						<div class="indetail_info_detail col-md-12 text_left">
							<div class="supplier2_detail_img  col-md-5">
								<img src="../../../static/img/images/industry/3.jpg" class="supplier2_img_del">
							</div>
							<div class="supplier2_detail_right active col-md-7">
								<div class="info_del_txt active col-md-9">
									调心调心球面内卷
								</div>
								<div class="info_del_txt active col-md-3">
									[原创]
								</div>
								
								<div class="info_del_del2 col-md-12">
									<p class="info_del_txt3">菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！菜鸟教程，学的不仅是技术！！菜鸟教程，学的不仅是技术，！</p>
								</div>
								<div class="industry_info_label col-md-12">
									<span class="label label-default">经济</span>
								</div>
								<div class="industry_info_time col-md-12">
									<span class="col-md-6">发布时间:6小时前</span>
									<div class="col-md-6 industry_info_see_img text-right"><img src="../../../static/img/images/industry/see.png">阅读量：45678</div>
								</div>
								
							</div>
						</div>
					</div>
				<div class="supplier3 col-md-12">
						<div class="indetail_info_detail col-md-12 text_left">
							<div class="supplier2_detail_img  col-md-5">
								<img src="../../../static/img/images/industry/3.jpg" class="supplier2_img_del">
							</div>
							<div class="supplier2_detail_right active col-md-7">
								<div class="info_del_txt active col-md-9">
									调心调心球面内卷
								</div>
								<div class="info_del_txt active col-md-3">
									[原创]
								</div>
								
								<div class="info_del_del2 col-md-12">
									<p class="info_del_txt3">菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！菜鸟教程，学的不仅是技术！！菜鸟教程，学的不仅是技术，！</p>
								</div>
								<div class="industry_info_label col-md-12">
									<span class="label label-default">经济</span>
								</div>
								<div class="industry_info_time col-md-12">
									<span class="col-md-6">发布时间:6小时前</span>
									<div class="col-md-6 industry_info_see_img text-right"><img src="../../../static/img/images/industry/see.png">阅读量：45678</div>
								</div>
								
							</div>
						</div>
					</div>

				</div>
				<div class="supplier_del_right col-md-4">
					<div class="supplier_tel col-md-12">
						热门咨询推荐
					</div>
					
					<div class="contact_del col-md-12">
						<div class="in_info_title col-md-12">
							广州企业热门咨询推荐广州企业热门咨询推荐广州企业热门咨询推荐广州企业热门咨询推荐
						</div>
						<div class="in_info_title col-md-12">
							广州企业热门咨询推荐
						</div>
						<div class="in_info_title col-md-12">
							广州企业热门咨询推荐
						</div>
						<div class="in_info_title col-md-12">
							广州企业热门咨询推荐
						</div>
						<div class="in_info_title col-md-12">
							广州企业热门咨询推荐
						</div>
						<div class="in_info_title col-md-12">
							广州企业热门咨询推荐
						</div>
					</div>
				</div>
				
				
				
			</div>
			<!--mmmm-->
		</div>
		
		
		
		<div class="col-xs-2 col-sm-2 col-md-2 purchase_right">
			<div class="purchase_cxtitle text-center"><span>轴承型号查询</span></div>
			<div class="purchase_img text-center"><img src="../images/index/view_l1.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
		</div>
		
	</div>
	<div class="right-p col-xs-1 col-sm-1 col-md-1"></div>
	
</div>
<div>
	
		<iframe marginwidth="0" marginheight="0" src="../../base/bottom.html" width="100%" height="500px"></iframe>
	</div>
</body>
</html>




