<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>供货信息详情页</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<link href="{% static 'css/bottom.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/head.css' %}" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>

<link href="../../../static/css/index.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/purchase.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/supplyInformation.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/querydel.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/buyingInfo.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/supplyInfo.css" rel="stylesheet" type="text/css" />
<link href="../../../static/css/supplier.css" rel="stylesheet" type="text/css" />

<style>
body {
    background-color: #F2F2F2;
    font-size: 12px;
    font-family: "微软雅黑";
	color: #010101;
	height:auto;
}
</style>

</head>
<body>
	<div>
	
		<iframe marginwidth="0" marginheight="0" src="../../base/base1.html" width="100%" height="250px"></iframe>
	</div>
<div  class="col-md-10 col-md-offset-1" style="background-color: #F2f2f2;">
	
	<div class="purchase1_query col-xs-10 col-sm-10 col-md-12 text-center">
		<div class="col-xs-2 col-sm-2 col-md-2 purchase_left">
			<div class="purchase_cxtitle text-center"><span>轴承型号查询</span></div>
			<div class="purchase_img text-center"><img src="../images/index/view_l1.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
		</div>
		
		<div class="container col-xs-8 supplier">
			<div class="supplier_del_top col-md-12">				
				<div class="_top_title2 col-xs-2 text_left"><a href="supplyInfo.html">供货信息</a></div>
				<div class="_top_title2 col-xs-2 text_left"><a href="sample.html">供货产品</a></div>
				<div class="_top_title2 col-xs-2 text_left active"><a href="supplyProduct.html">图文产品</a></div>
				<div class="_top_title2 col-xs-2 text_left"><a href="cooperate_info.html">合作信息</a></div>
				<div class="_top_title2 col-xs-2 text_left"><a href="/indexdata_company1/">人气供货商</a></div>
				<div class="_top_title2 col-xs-2 text_left"><a href="new_supplier.html">新加盟供货商</a></div>
			</div>
			<div class="buyingInfo col-xs-12">
				<div class="col-xs-12 SP_center">
					<a class="col-xs-4 SP_center_conter"  href="supplyProduct_details.html">
						<div class="SP_centerInfo">
							<div class="SP_conter_img col-xs-12">
								<img src="../../../static/img/images/integral/22.jpg">
							</div>
							<div class="col-xs-12 SP_center_title text-left"><text>广州哈瑞轴承有限公司</text></div>
							<div class="col-xs-6 SP_center_title1 text-left"><text>联系电话:15922544482</text></div>
							<div class="col-xs-6 SP_center_title1 text-left"><text>联系人:张小姐</text></div>
							<div class="col-xs-12 SP_center_title1 text-left"><text>地址:广州</text></div>
						</div>
						
					</a>
					
					
					
					
				</div>
				
	
					
		
			</div>
							
			
			<!--mmmm-->
		</div>

		<div class="col-xs-2 col-sm-2 col-md-2 purchase_right">
			<div class="purchase_cxtitle text-center"><span>轴承型号查询</span></div>
			<div class="purchase_img text-center"><img src="../images/index/view_l1.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
			<div class="purchase_img text-center"><img src="../images/index/view3.jpg"></div>
		</div>
		
	</div>
	
	
</div>
<div>
	
		<iframe marginwidth="0" marginheight="0" src="../../base/bottom.html" width="100%" height="500px"></iframe>
	</div>
</body>
</html>




