<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>提问</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<link href="{% static 'css/bottom.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/head.css' %}" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>
<link href="../../static/css/index.css" rel="stylesheet" type="text/css" />
<link href="../../static/css/purchase.css" rel="stylesheet" type="text/css" />
<link href="../../static/css/querydel.css" rel="stylesheet" type="text/css" />
<link href="../../static/css/supplier.css" rel="stylesheet" type="text/css" />
<link href="../../static/css/supplyInfo.css" rel="stylesheet" type="text/css" />
<link href="../../static/css/recruit.css" rel="stylesheet" type="text/css" />
<link href="../../static/css/technical.css" rel="stylesheet" type="text/css" />
<style>
body {
    background-color: #F2F2F2;
    font-size: 12px;
    font-family: "微软雅黑";
	color: #010101;
	height:auto;
}
</style>

</head>
<body>
	<div>
	
		<iframe marginwidth="0" marginheight="0" src="../base/base1.html" width="100%" height="250px"></iframe>
	</div>
<div class="recruit col-md-10 col-md-offset-1" style="background-color: #F2F2F2;">
	<div class="Ppang col-xs-10 col-xs-offset-1">
		<div class="Ppang_head col-xs-11">
			<div class="Ppang_head_img col-xs-2 col-md-1 text-center">
				<img src="../../static/img/images/exhibition/img/2.jpg">
			</div>
			<div class="Ppang_head_info col-xs-10 col-md-11">
				<div class="Ppang_head_name col-md-12">武先生<span class="Ppang_head_name1">
					<img src="../../static/img/images/exhibition/img/会员.png">普通会员</span>
				</div>
				
				<div class="Ppang_head_bq col-xs-10">
					<span class="label label-default Ppang_head_bq1">资深产品经理</span>
				</div>
				<div class="Ppang_head_right col-xs-2">
					总积分：2560
				</div>
				<div class="Ppang_head_bq col-xs-9">
					<span class="col-xs-12 Ppang_head_conter">资深产品经理资深产品经理资深产品经理资深产品经理</span>
				</div>
				
				<div class="Ppang_head_right col-xs-3">
					<div class="Ppang_head_right1 col-xs-4 col-xs-offset-3"><img src="../../static/img/images/exhibition/img/info.png">发信息</div>
					<div class="Ppang_head_right2 col-xs-5">
						<img src="../../static/img/images/exhibition/img/添加好友.png">加好友</div>
				</div>
			</div>
		</div>
		
		<div class="Ppang_center col-xs-11">
			<div class="Ppang_center_title col-xs-4">
				<div class="Ppang_center_title1 text-center col-xs-2"><a href="technical_Personal_page.html">动态</a></div>
				<div class="Ppang_center_title1 active text-center col-xs-3">
					<a href="technical_questions.html">提问 458</a>
				</div>
				<div class="Ppang_center_title1 text-center col-xs-3"><a href="technical_answer.html">回答 875</a></div>
			</div>
			
			
			<div class="questions col-xs-12">
				<div class="questions_title col-xs-12">提问标题</div>
				<div class="questions_conter col-xs-9">提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容</div>
				<div class="questions_number col-xs-1 text-right">2020/08/23</div>
				<div class="questions_number col-xs-1 text-right">20个回答</div>
				<div class="questions_number col-xs-1 text-right">2个关注</div>
			</div>
			<div class="questions col-xs-12">
				<div class="questions_title col-xs-12">提问标题</div>
				<div class="questions_conter col-xs-9">提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容</div>
				<div class="questions_number col-xs-1 text-right">2020/08/23</div>
				<div class="questions_number col-xs-1 text-right">20个回答</div>
				<div class="questions_number col-xs-1 text-right">2个关注</div>
			</div>
		</div>
		
		
		
		
	</div>
	
	
	
	

	
		
	<!-- dddd-->
	
</div>
<div>
	
		<iframe marginwidth="0" marginheight="0" src="../base/bottom.html" width="100%" height="500px"></iframe>
	</div>
</body>
</html>




